{# src/BookBundle/Resources/views/Default/index.html.twig #}
{% extends 'BlogBundle::layout.html.twig' %}

{% block body %}

    <div class="row navigation text-center col-md-9 col-sm-12 col-xs-12">
        {#{{ knp_pagination_render(books) }}#}
    </div>

    <div class="row col-md-12 col-sm-12 col-xs-12">
        {% for book in books %}

            <article>
                <div class="row">

                    <div class="col-xs-6">
                        {% if book.image is defined %}
                        <img src="{{ book.image }}">
                        {% endif %}
                    </div>


                    <div class="col-xs-6">

                        <div class="row">

                            <div class="col-xs-6">
                                {% if book.googleUrl is defined %}
                                <a href="{{ book.googleUrl }}" target="_blank">
                                    <button class="btn btn-danger">Google Books</button>
                                </a>
                                {% endif %}
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <hr/>
                                <small class="col-xs-12">
                                    published at <b>{{ book.published }}</b>
                                </small>
                            </div>
                        </div>

                    </div>
                </div>

                <h4 class="row col-xs-12">
                    {{ book.title }}
                </h4>

                <small class="row col-xs-12">
                    <b>by {{ book.author }}</b>
                </small>

                <div class="row">
                    {% if book.summary is defined %}
                    <div class="col-xs-12">
                        {{ book.summary }}
                    </div>
                    {% endif %}
                </div>
                <div class="row col-xs-12"><hr></div>
            </article>

        {% endfor %}
    </div>

    <div class="row navigation text-center col-md-9 col-sm-10 col-xs-12">
        {#{{ knp_pagination_render(books) }}#}
    </div>

{% endblock %}

