{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}My Blog{% endblock %} - myBlog</title>
    {% block stylesheets %}
        {% stylesheets
            'bundles/starrating/css/rating.css'
            'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
            'https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css'
            '../app/Resources/public/css/screen.css'
            filter="cssrewrite"
        %}
        {#<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/v4-shims.css"/>#}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
        {% endstylesheets %}
    {% endblock %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    {% block javascript %}
        {% javascripts
            '@StarRatingBundle/Resources/public/js/rating.js'
            'https://code.jquery.com/jquery-3.2.1.slim.min.js'
            'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js'
            'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'
            'https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="overlay"></div>
<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">

                {% if is_granted('ROLE_USER') %}
                    <button type="button" id="sidebarCollapse" class="btn btn-default pull-left">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </button>
                {% endif %}

                <a class="navbar-brand" href="{{ path('index') }}">
                    <span class="glyphicon glyphicon-home"></span> Reviews</a>
                <a class="navbar-brand" href="{{ path('book_homepage') }}">
                    <span class="glyphicon glyphicon-book"></span> Books</a>
                <a class="navbar-brand" href="{{ path('google_view') }}">
                    <span class="glyphicon glyphicon-warning-sign"></span> Newest</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navCollapse">
                <ul class="nav navbar-nav navbar-right">

                    {% if is_granted('ROLE_USER') == false %}
                        <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                        <li><a href="{{ path('fos_user_security_login') }}">Login
                            <span class="glyphicon glyphicon-log-in"></span></a></li>
                    {% endif %}

                </ul>

                <form class="navbar-form navbar-right" role="search" action="{{ path('search_homepage') }}">
                    <div class="input-group add-on">
                        <input class="form-control" placeholder="Search" name="search" id="search" type="text">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>

    <div class="row">
        <section class="col-md-3 col-sm-2 col-xs-1">
            {% if is_granted('ROLE_USER') %}
                {% include 'sidebar.html.twig' %}
            {% endif %}
        </section>
        <section id="mainContent" class="col-md-9 col-sm-10 col-xs-10">
            {% block body %}{% endblock %}
        </section>
    </div>

    <footer style="margin-top: 10px">
        {% block footer %}
            <p>Book review Blog</p>
        {% endblock %}
    </footer>
</div>

</body>
</html>
