{# app/Resources/views/sidebar.html.twig #}
    <nav id="sidebar">

        <div id="dismiss">
            <i class="glyphicon glyphicon-menu-left"></i>
        </div>

        <div class="sidebar-header">
            <h4><span class="glyphicon glyphicon-user"></span>
                {{ app.user.getFirstName() }}</h4>
        </div>

        <ul class="list-unstyled components">
            <li><a class="dropdown-item" href="{{ path('book_add') }}">Add Book</a></li>
            <li><a class="dropdown-item" href="{{ path('blog_view_my_reviews') }}">My Reviews</a></li>
            <li><a class="dropdown-item" href="{{ path('fos_user_profile_edit') }}">Edit Profile</a></li>
            <li><a class="dropdown-item" href="{{ path('fos_user_change_password') }}">Change Password</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Logout
                    <span class="glyphicon glyphicon-log-out"></span></a></li>
        </ul>
    </nav>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function () {
                // hide sidebar
                $('#sidebar').removeClass('active');
                // hide overlay
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                // open sidebar
                $('#sidebar').addClass('active');
                // fade in the overlay
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>