{# src/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'BlogBundle::layout.html.twig' %}

{% block body %}

    <div class="row navigation text-center col-md-9 col-sm-10 col-xs-12">
        {{ knp_pagination_render(reviews) }}
    </div>

    <div class="row col-md-9 col-sm-10 col-xs-12">
    {% for review in reviews %}
        <article>
            <h3 class="row col-xs-12">
                {{ review.title }}
            </h3>
            <div class="row">
                <div class="col-xs-6">
                    <a href="{{ path('blog_view_by_book', {id: review.book.id}) }}">
                        <img src="{{ asset('uploads/images/' ~ review.book.image ) }}">
                    </a>
                </div>

                <div class="col-xs-6">
                    <small>Created at {{ review.timestamp | date('H:i d/m/y') }} </small>
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="{{ path('blog_view', {id: review.id}) }}">
                                <button class="btn btn-primary">View review</button>
                            </a>
                        </div>
                    </div>
                    {%
                        if (is_granted('ROLE_USER') and review.reviewer == app.user)
                        or is_granted('ROLE_ADMIN')
                    %}
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="{{ path('blog_edit', {id: review.id}) }}">
                                    <button class="btn btn-info">Edit review</button>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="{{ path('blog_delete', {id: review.id}) }}">
                                <button class="btn btn-danger">Delete review</button>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div><br/>
            <div class="row">
                <div class="col-xs-12">
                    {{ review.rating|rating(5, 'fa-norm') }}
                </div>
            </div>
            <h4 class="row col-xs-12">
                {{ review.book.title }}
            </h4>

            <small class="row col-xs-12">
                <b>by {{ review.book.author }}</b>
            </small>

            <div class="row col-xs-12"><hr></div>
        </article>
    {% endfor %}
    </div>

    <div class="row navigation text-center col-md-9 col-sm-10 col-xs-12">
        {{ knp_pagination_render(reviews) }}
    </div>

{% endblock %}

