{# src/BookBundle/Resources/views/Default/add_book.html.twig #}
{% extends 'BlogBundle::layout.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}
    <h1>Add a book here</h1><br/>
    {{ form(form) }}
{% endblock %}
