{# src/BookBundle/Resources/views/Default/index.html.twig #}
{% extends 'BlogBundle::layout.html.twig' %}

{% block body %}

    <div class="row navigation text-center col-md-9 col-sm-12 col-xs-12">
        {{ knp_pagination_render(books) }}
    </div>

    <div class="row col-md-12 col-sm-12 col-xs-12">
        {% for book in books %}

            <article>
                <div class="row">
                    <div class="col-xs-6">
                        <img src="{{ asset('uploads/images/' ~ book.image ) }}">
                    </div>
                    <div class="col-xs-6">
                        {% if is_granted('ROLE_USER') %}
                            <a href="{{ path('blog_create', {id: book.id}) }}">
                                <button class="btn btn-success">Add review</button>
                            </a>
                        {% endif %}
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="{{ path('blog_view_by_book', {id: book.id}) }}">
                                    <button class="btn btn-primary">View reviews</button>
                                </a>
                            </div>
                        </div>

                        {% if googleUrls[book.id] is not null %}
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="{{ googleUrls[book.id] }}" target="_blank">
                                    <button class="btn btn-danger">Google Books</button>
                                </a>
                            </div>
                        </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-xs-6">
                                {{ rating[book.id]|rating(5, 'fa-norm') }}
                            </div>
                        </div>
                    </div>
                </div>

                <h4 class="row col-xs-12">
                    {{ book.title }}
                </h4>

                <small class="row col-xs-12">
                    <b>by {{ book.author }}</b>
                </small>

                <div class="row">
                    <div class="col-xs-12">
                        {{ book.summary }}
                    </div>
                </div>
                <div class="row col-xs-12"><hr></div>
            </article>

        {% endfor %}
    </div>

    <div class="row navigation text-center col-md-9 col-sm-10 col-xs-12">
        {{ knp_pagination_render(books) }}
    </div>

{% endblock %}

