{% trans_default_domain 'FOSUserBundle' %}

<div class="col-xs-11">
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

        <div class="form-group row">
            <label class="col-md-2 col-sm-2 col-xs-4" for="username">{{ 'security.login.username'|trans }}</label>
            <input class="col-md-5 col-sm-5 col-xs-12" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
        </div>

        <div class="form-group row">
            <label class="col-md-2 col-sm-2 col-xs-4" for="password">{{ 'security.login.password'|trans }}</label>
            <input class="col-md-5 col-sm-5 col-xs-12" type="password" id="password" name="_password" required="required" autocomplete="current-password" />
        </div>

        <div class="form-group row">
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        </div>

        <div class="form-group row">
            <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </div>
        <div class="form-group row">
            <a href="{{ path('fos_user_resetting_request') }}" class="btn btn-danger">Forgot your password?</a>
        </div>

    </form>
</div>