{# src/BlogBundle/Resources/views/Blog/create.html.twig #}
{% extends 'BlogBundle::layout.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}
    <h3>Create a review for book with title:</h3>
    <h3>{{ book_title }}</h3><br/>

    {{ form(form) }}

{% endblock %}
