{# src/BlogBundle/Resources/views/Blog/edit.html.twig #}
{% extends 'BlogBundle::layout.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}


{% block body %}
    <h3>Edit a review for book with title:</h3>
    <h3>{{ entry.book.title }}</h3><br/>

    {{ form(form) }}

{% endblock %}
