{# src/BlogBundle/Resources/views/Blog/view.html.twig #}
{% extends 'BlogBundle::layout.html.twig' %}

{#{% block title %}{{ entry.title }}{% endblock %}#}

{% block body %}
    <h2 class="row">{{ entry.title }}</h2><br/>
    <div class="row">{{ entry.review }}</div><br/>
    <div class="row">
        <small>
            Created at {{ entry.timestamp|date('H:i d/m/y') }}
        </small>
    </div>
    <div class="row">
        {{ entry.rating|rating(5, 'fa-norm') }}
    </div><br/>

    <div class="row">
    {%
        if (is_granted('ROLE_USER') and entry.reviewer == app.user)
        or is_granted('ROLE_ADMIN')
    %}
            <a href="{{ path('blog_edit', {id: entry.id}) }}">
                <button class="btn btn-info">Edit review</button>
            </a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('blog_delete', {id: entry.id}) }}">
                <button class="btn btn-danger">Delete review</button>
            </a>
    {% endif %}
    </div>
{% endblock %}
